/* ===========================
  공통 디자인 변수
=========================== */
:root {
  /* Colors */
  --color-primary: #FCC219;
  --color-primary-light: #FCC219;
  --color-background: #FDFFED;

  --color-blue: #17A6E4;
  --color-blue-light: #E2F7FE;

  --color-pink: #E98FCB;
  --color-pink-light: #FBF6FD;

  --color-gray-dark: #808080;
  --color-gray: #D3D3D3;
  --color-gray-light: #E9E9E9;

  /* Shadow */
  --shadow-button: 0px 1px 3px rgba(0, 0, 0, 0.08);

  /* Border Radius */
  --radius-md: 12px;
}

/* ===========================
  브라우저 기본 스타일 초기화
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========================
  공통 레이아웃
=========================== */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Pretendard, sans-serif;
  background-color: var(--color-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 1024px;
  height: 600px;

  position: relative;
  overflow: hidden;

  background-color: var(--color-background);
}