:root {
  --color-yellow: #FFD35A;
  --color-yellow-light: #FDFFED;

  --color-blue: #17A6E4;
  --color-blue-light: #E2F7FE;

  --color-pink: #E98FCB;
  --color-pink-light: #FBF6FD;

  --color-gray: #808080;
  --color-gray-light: #D3D3D3;

  --shadow-button: 0px 1px 3px rgba(0,0,0,0.08);

  --radius-md: 12px;
}